<?xml version="1.0"?>
<model>
  <name>Iris with Gimbal and Rangefinder</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>URC Drone Team</name>
    <email>havriutkin@gmail.com</email>
  </author>

  <description>
    Iris quadcopter with 3-axis gimbal and single-beam laser rangefinder sensor.
  </description>
</model>
