<?xml version="1.0"?>
<model>
  <name>Gimbal Small 3D with Rangefinder</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>URC Drone Team</name>
    <email>havriutkin@gmail.com</email>
  </author>

  <description>
    A 3-axis gimbal with a single-beam laser rangefinder sensor.
    Modified from ardupilot_gazebo gimbal_small_3d model.
  </description>
</model>
